*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{list-style: none;}
header{
    background-color: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
header .menue{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
body{
    height: 100%;
    background-color: #eff0ff;
}
.container{
    max-width: 767px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 60px;
}
.card{
    background-color: #6c80f7;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    color: #fff;
    margin: 20px 0;
}
.weatherCurrent .section_title{
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 0 0 0 ;
}
.custom-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weatherCurrent div svg,
.weatherforcast div svg,
#search div svg{
    width: 40px;
    height: auto;
}
.weatherforcast .section_title,
.favoris .section_title,
#search .section_title{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 20px 0 0 0 ;
}
.weather-forcast .section_title,
.weatherCurrent .card-time,
#search .card-time{display: none}
.weather-forcast .card-time{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 20px 0;
}
#search main{
    padding-top: 20px;
}
#search input{
    width: 70%;
    height: 50px;
    border-radius: 20px 0 0 20px;
    border: none;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    outline: none;
}
#search button{
    width: 30%;
    height: 50px;
    border-radius: 0 20px 20px 0;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    color: #fff;
    background-color: #6c80f7;
    outline: none;
}
#search .main{
    margin-top: 50px;
}
#search .btn{
    border-radius: 0;
    padding: 5px;
    background: #fff;
    color: #6c80f7;
    height: auto;
    width: 100%;
}
.favCard{
    padding: 10px 0;
}
.favoris .btn,
#search .btn-delete{display: none;}
.favoris .btn-delete{
    border-radius: 0;
    padding: 5px;
    background: #fff;
    color: #6c80f7;
    height: auto;
    width: 100%;
    border: none;
    font-size: 0.875rem;
    font-weight: bold;
    outline: none;
}